@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-300;
}

button {
  @apply flex items-center justify-center rounded-xl overflow-hidden bg-white text-gray-500 text-xs font-bold px-4 py-3 shadow border-b-4 hover:shadow hover:shadow-gray-500 mb-[2px] active:mt-[2px] active:mb-0 transition-all;
}

button:disabled {
  @apply text-gray-200;
}

.v-enter-active,
.v-leave-active {
  transition: opacity .5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}