@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100;
}

button {
  @apply flex items-center justify-center rounded-xl overflow-hidden bg-white text-gray-500 text-xs font-bold px-4 py-3 shadow-md border-b-4
}